{% extends 'turnos/base.html' %}

{% block title %}Editar Disponibilidad{% endblock %}

{% block content %}
  <h2>Editar disponibilidad</h2>

  <form method="post">
    {% csrf_token %}

    <p>
      <label for="{{ form.id_doctor.id_for_label }}">Doctor:</label>
      {{ form.id_doctor }}
    </p>

    <p>
      <label for="{{ form.dia_semana.id_for_label }}">Día de la semana:</label>
      {{ form.dia_semana }}
    </p>

    <p>
      <label for="{{ form.hora_inicio.id_for_label }}">Hora de inicio:</label>
      {{ form.hora_inicio }}
    </p>

    <p>
      <label for="{{ form.hora_fin.id_for_label }}">Hora de fin:</label>
      {{ form.hora_fin }}
    </p>

    <button type="submit">Guardar cambios</button>
  </form>

  <p><a href="{% url 'turnos:ver_disponibilidad' %}">← Cancelar y volver</a></p>
{% endblock %}
