{% extends 'turnos/base.html' %}

{% block title %}Disponibilidades registradas{% endblock %}

{% block content %}
  <h2>Lista de disponibilidades</h2>

  <form method="get" action="{% url 'turnos:ver_disponibilidad' %}">
  <label for="doctor_nombre">Buscar disponibilidad por doctor:</label>
  <select name="doctor_nombre" id="doctor_nombre">
    <option value="">Ver todas los doctores</option>
    {% for doc in doctores %}
      <option value="{{ doc.nombre }}" {% if doctor_nombre == doc.nombre %}selected{% endif %}>
        {{ doc.nombre }} {{ doc.apellido }} - {{ doc.id_especialidad.nombre }}
      </option>
    {% endfor %}
  </select>
  <button type="submit">Buscar</button>
</form>


  <ul>
    {% for disponibilidad in disponibilidades %}
      <li>
        Dr. {{ disponibilidad.id_doctor.nombre }} {{ disponibilidad.id_doctor.apellido }} -
        {{ disponibilidad.dia_semana }}: {{ disponibilidad.hora_inicio }} a {{ disponibilidad.hora_fin }}

        <a href="{% url 'turnos:editar_disponibilidad' disponibilidad.id_disponibilidad %}">Editar</a> |
        <a href="{% url 'turnos:borrar_disponibilidad' disponibilidad.id_disponibilidad %}">Borrar</a>
      </li>
    {% empty %}
      <li>No hay disponibilidades registradas.</li>
    {% endfor %}
  </ul>
  {% if request.user.is_authenticated and request.user.rol == 'administrador' %}
    <a href="{% url 'turnos:crear_disponibilidad' %}" class="btn btn-primary">
      <i class="fas fa-plus me-2"></i>Registrar Disponibilidad
    </a>
  {% endif %}
{% endblock %}
